@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(128, 128, 128, 0.066);
  overflow-x: hidden;
  width: 100vw;
}

@keyframes beat {
  0%, 100%{
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
  
.beat{
  animation: beat 3s infinite;
}

.toggler{
  display: none;
}

.skill-card p{
  display: none;
}

.skill-card {
  cursor: pointer;
}

.skill-card:hover img {
  opacity: 0.3;
}

.skill-card:hover p{
  display: inline;
}

@media(max-width:500px){
  .nav-list{
    display: none;
  }
  .toggler{
    display: inline;
  }
}

@media(max-width:650px) {
  .grid div{
    height: 100px;
  }
  .intern{
    flex-direction: column;
    align-items: center;
  }
  .intern .card{
    margin:1rem 0 1rem 0;
  }
}

@media(max-width:520px) {
  .grid div{
    height: 60px;
  }
  .grid{
    grid-gap:5px;
  }
  .contact{
    padding:1rem;
  }
}